#menu{
    margin: auto;
    width: 80%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
   
}
img{
    width: 200px;
    height: 200px;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-left: 400px;
}
li{
    text-decoration: none;
}